.btn {
  padding: 10px 15px;
  background-color: #84b082;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
}

.btn:active,
.btn-cancel:active {
  transition: 0.3s;
  transform: translateY(-3px);
}
.btn:hover {
  transition: 0.3s ease-in-out;
  background-color: #63ac60;
}

.btn-add {
  background-color: #415969;
}
.btn-add:hover {
  background-color: #0d344c;
}

.btn-cancel {
  padding: 10px 15px;
  background-color: #f87979;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
}
.btn-cancel:hover {
  background-color: #f14040;
  transition: 0.3s ease-in-out;
}
