* {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  box-sizing: border-box;
}

body {
  background-color: $bgColor;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 15px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
}

input[type="text"] {
  all: unset;
  margin-left: 10px;
  font-size: 18px;
  padding: 15px;
  border-radius: 10px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  &::placeholder {
    font-size: 16px;
  }
  &:focus {
    border: 1px rgb(118, 118, 118) solid;
  }
}

.checkbox {
  clip-path: circle(46% at 50% 50%);
}
